*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    color: white;
}
html, body {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(3, 3, 3);
    position: relative;
}
.image{
    height: 120px;
    width: 100%;
    /* background-color: red; */
    border-bottom: 2px solid #fff ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.image h1{
    font-size: 5vw;
    /* position: relative; */
    z-index: 9;
    mix-blend-mode: difference;
}
.image img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
    position: absolute;
    opacity: 1;
    transition: all linear 0.2s ;
    transform: translate(-50%, -50%);
}